<html>
    <heada> 
        <link rel ="stylesheet" href="..\css\task_3_style.css">
        <script scr="..\js\task_3_valid.js"></script>

    </heada>

    <body>
        <div class="maindiv">
            <from onsubmit="Validatedata()">
                <h1>Donar informataion</h1>
                <h4>name</h4>
            <input taype = "text" id="name">
            <h4>Last name</h4>
            <input taype = "text" id="name">
            <h4>Address</h4>
            <input taype = "text" id="Address">
            <h4>City</h4>
            <input taype = "text" id="City">
            <h4>State</h4>
            <select id="State" display="block">
                <option value="AL">Albama</option>
                <option value="CA">California</option>
                <option value="FL">Florida</option>

            </select>
            <h4>Phone</h4>
            <input taype = "number" id="number">

            <h4>Email</h4>
            <input taype = "Email" id="Email">

             <h4>Create passwoard(min 8 characters)</h4>
            <input taype = "passwoard" id="passwoard">

             <h4>Confirm passwoard</h4>
            <input taype = "passwoard" id="cpasswoard">

            <h4>Donation amount</h4>
             <input type="radio" id="amount" value="0" name="des">non
             <input type="radio" id="amount" value="500" name="des">500
             <input type="radio" id="amount" value="1000" name="des">1000
             <input type="radio" id="amount" value="2000" name="des">2000
             <input type="radio" id="amount" value="3000" name="des">3000
             <input type="radio" id="amount" name="des">other

             <h4>other amount</h4>
            <input taype = "number" id="number">

            <br>

            <input type="checkbox" id="Return"> i am interested in given on regular basis.
            
            <h3>Additional informataion</h3>
            <input type="checkbox" id="Return"> i would like to gift.<br>

            <input type="checkbox" id="Return"> the employ gift program.<br>
            <input type="checkbox" id="Return"> pleace dont send a thank you latter.<br>



            <h4>Comments</h4>
            <textarea id="comment"> </textarea>
            <br>

            <button type="reset">reset </button>
            <button type="submit">submit </button>


            
            
            






            





            </from>
        </div>
    </body>
</html>